@import 'modules/colors';

@import 'partials/btnpress';
@import 'partials/button';
@import 'partials/flashMessage';

.ratings-table {
  border: 1px solid $black;
  border-collapse: collapse;
  margin: 2% auto;
  width: 70%;

  th {
    background-color: $light-grey;
    border: 1px solid $black;
  }

  tr {
    margin: 1px;

    &:hover {
      background-color: $light-grey;
    }
  }

  td {
    border: 1px solid $black;

    &:not(:first-child) {
      text-align: center;
      width: 150px;
    }

    // TODO: I'm tired. Figure out this + previous rule. This works for now.
    &.same-first-col {
      text-align: center;
      width: 150px;
    }

    &.rank-1 {
      background-color: $color-scale-1;
    }

    &.rank-2 {
      background-color: $color-scale-2;
    }

    &.rank-3 {
      background-color: $color-scale-3;
    }

    &.rank-4 {
      background-color: $color-scale-4;
    }

    &.rank-5 {
      background-color: $color-scale-5;
    }

    &.no-rank {
      color: $light-grey;
    }
  }
}

// color in the stat diff spans
.stat-up {
  color: $green;
}

.stat-down {
  color: $red;
}

.stat-none {
  color: $dark-grey;
}

.list-container {
  border: 1px solid $light-grey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  width: 95vw;

  h1 {
    text-align: center;
  }

  .sortable {
    background-color: $very-light-grey;
    border: 1px solid $light-grey;
    list-style-type: none;
    margin: 0;
    margin-right: 10px;
    min-height: 20px;
    padding: 5px 0 0;
    width: 220px;

    li {
      border: 1px solid $light-grey;
      border-radius: 4px;
      font-size: 1.2em;
      margin: 0 5px 5px;
      padding: 5px;
      text-align: center;
      width: 200px;

      &:hover {
        background-color: $dark-grey;
        cursor: move;
      }

      &.heavyTank {
        background-color: $color-scale-5;
      }

      &.mediumTank {
        background-color: $color-scale-4;
      }

      &.lightTank {
        background-color: $color-scale-3;
      }

      &.TD {
        background-color: $color-scale-2;
      }

      &.SPG {
        background-color: $color-scale-1;
      }
    }
  }
}

.controls {
  margin: auto;
  width: 20%;

  input {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px $dark-grey;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;

    &:not(.active):hover {
      background-color: $light-blue;
    }
  }

  .active {
    animation: btnpress .1s ease-in;
    animation-fill-mode: forwards;
    background-color: $light-grey;
  }
}

// Text
.title-text {
  text-align: center;
  text-decoration: underline;
}

.table-title {
  background-color: $light-grey;
  border-bottom: 1px solid $dark-grey;
  border-top: 1px solid $dark-grey;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  width: 50%;

  h1 {
    font-size: 20px;
  }
}

.info-text {
  text-align: center;

  p {
    font-size: 14px;
  }
}
