@import 'modules/colors';

@import 'partials/btnpress';

.ratings-table {
  border: 1px solid $black;
  border-collapse: collapse;
  margin: 2% auto;
  width: 70%;

  th {
    background-color: $light-grey;
    border: 1px solid $black;
  }

  tr {
    margin: 1px;

    &:hover {
      background-color: $light-grey;
    }
  }

  td {
    border: 1px solid $black;

    &:not(:first-child) {
      text-align: center;
      width: 150px;
    }

    &.rank-1 {
      background-color: $color-scale-1;
    }

    &.rank-2 {
      background-color: $color-scale-2;
    }

    &.rank-3 {
      background-color: $color-scale-3;
    }

    &.rank-4 {
      background-color: $color-scale-4;
    }

    &.rank-5 {
      background-color: $color-scale-5;
    }

    &.no-rank {
      color: $light-grey;
    }
  }
}

.controls {
  margin: auto;
  width: 20%;

  input {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px $dark-grey;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;

    &:not(.active):hover {
      background-color: $light-blue;
    }
  }

  .active {
    animation: btnpress .1s ease-in;
    animation-fill-mode: forwards;
    background-color: $light-grey;
  }
}
