<!DOCTYPE html>
<html lang="en">
<head>
  <title>I've changed things</title>
</head>
<body>
  <table>
  <th>Player</th>
  <th>Heavy Dmg</th>
  <th>Medium Dmg</th>
  <th>Light Spots</th>
  <th>SPG Dmg</th>
  <th>TD Dmg</th>
  {% for member, stats in members.items() %}
  <tr>
    <td>{{member}}</td>

    {% if stats.heavyTank %}
    <td>{{stats.heavyTank[1]}}</td>
    {% else %}
    <td>None</td>
    {% endif %}

    {% if stats.mediumTank %}
    <td>{{stats.mediumTank[1]}}</td>
    {% else %}
    <td>None</td>
    {% endif %}

    {% if stats.lightTank %}
    <td>{{stats.lightTank[2]}}</td>
    {% else %}
    <td>None</td>
    {% endif %}

    {% if stats.SPG %}
    <td>{{stats.SPG[1]}}</td>
    {% else %}
    <td>None</td>
    {% endif %}

    {% if stats.TD %}
    <td>{{stats.TD[1]}}</td>
    {% else %}
    <td>None</td>
    {% endif %}
  </tr>
  {% endfor %}
  </table>
</body>
