<!DOCTYPE html>
<html lang="en">
<head>
  <title>I've changed things</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="controls">
    <input type="button" class="chng-view active" value="View Ranks"></button>
    <input type="button" class="chng-view" value="View Values"></button>
  </div>
  <table class="ratings-table">
  <th>Player</th>
  <th>Overall Avg Dmg</th>
  <th>Heavy Dmg</th>
  <th>Medium Dmg</th>
  <th>Light Spots</th>
  <th>TD Dmg</th>
  <th>SPG Dmg</th>
  <!-- <th>Attendance</th>
  <th>Following Calls</th> -->
  {% for id, player in players.items() %}
  <tr>
    <td><a href="/player/{{id}}">{{player.nickname}}</a></td>

    {% if player.overall %}
    <td class="rank-{{player.overall.rank}}">
      <span>{{player.overall.rank}}</span>
      <input type=hidden value={{player.overall.dmg}}>
    </td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if player.HT %}
    <td class="rank-{{player.HT.rank}}">
      <span>{{player.HT.rank}}</span>
      <input type=hidden value={{player.HT.dmg}}>
    </td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if player.MT %}
    <td class="rank-{{player.MT.rank}}">
      <span>{{player.MT.rank}}</span>
      <input type=hidden value={{player.MT.dmg}}>
    </td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if player.LT %}
    <td class="rank-{{player.LT.rank}}">
      <span>{{player.HT.rank}}</span>
      <input type=hidden value={{player.LT.dmg}}>
    </td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if player.TD %}
    <td class="rank-{{player.TD.rank}}">
      <span>{{player.TD.rank}}</span>
      <input type=hidden value={{player.TD.dmg}}>
    </td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if player.SPG %}
    <td class="rank-{{player.SPG.rank}}">
      <span>{{player.SPG.rank}}</span>
      <input type=hidden value={{player.SPG.dmg}}>
    </td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

  </tr>
  {% endfor %}
  </table>
</body>
<footer>
  <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</footer>
