<!DOCTYPE html>
<html lang="en">
<head>
  <title>I've changed things</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <table class="ratings-table">
  <th>Player</th>
  <th>Heavy Dmg</th>
  <th>Medium Dmg</th>
  <th>Light Spots</th>
  <th>SPG Dmg</th>
  <th>TD Dmg</th>
  <th>Attendance</th>
  <th>Following Calls</th>
  {% for member, stats in members.items() %}
  <tr>
    <td><a href="/player/{{stats.account_id}}">{{member}}</a></td>

    {% if stats.heavyTank %}
    <td class="rank-{{stats.heavyTank.AvgDmgRank}}">{{stats.heavyTank.AvgDmg}}</td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if stats.mediumTank %}
    <td class="rank-{{stats.mediumTank.AvgDmgRank}}">{{stats.mediumTank.AvgDmg}}</td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if stats.lightTank %}
    <td class="rank-{{stats.lightTank.SpotsRank}}">{{stats.lightTank.Spots}}</td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if stats.SPG %}
    <td class="rank-{{stats.SPG.AvgDmgRank}}">{{stats.SPG.AvgDmg}}</td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if stats.TD %}
    <td class="rank-{{stats.TD.AvgDmgRank}}">{{stats.TD.AvgDmg}}</td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if stats.Attendance %}
    <td class="rank-{{stats.Attendance}}">{{stats.Attendance}}</td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}

    {% if stats.Following_Calls %}
    <td class="rank-{{stats.Following_Calls}}">{{stats.Following_Calls}}</td>
    {% else %}
    <td class="no-rank">None</td>
    {% endif %}
  </tr>
  {% endfor %}
  </table>
</body>
