<!DOCTYPE html>
<html lang="en">
<head>
  <title>Statistics For {{name}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
  <h1 class="title-text">Clan War Statistics for {{name}}</h1>
  <div class="table-title">
    <h1>Clan Wars Stats Over Time</h1>
  </div>
  <table class="ratings-table">
    <th>Overall</th>
    <th>Heavy Tanks</th>
    <th>Medium Tanks</th>
    <th>Light Tanks</th>
    <th>Self Propelled Guns</th>
    <th>Tank Destroyers</th>
    <th>Avg Tier 10 WN8</th>
    <th>Date</th>
    {% for stat in stat_hist %}
    <tr>
      <td class="rank-{{stat['overall'].rank}} same-first-col">
        {{stat['overall'].dmg}}
        {%if stat['overall'].diff is defined %}
          {% if stat['overall'].diff > 0 %}
            <span class="stat-up">
              (<i class="fas fa-caret-up"></i>
              {{stat['overall'].diff}})
            </span>
          {% elif stat['overall'].diff < 0 %}
            <span class="stat-down">
              (<i class="fas fa-caret-down"></i>
              {{stat['overall'].diff}})
            </span>
          {% else %}
            <span class="stat-none"> (-) </span>
          {% endif %}
        {% endif %}
      </td>
      <td class="rank-{{stat['HT'].rank}}">
        {{stat['HT'].dmg}}
        {%if stat['HT'].diff is defined %}
          {% if stat['HT'].diff > 0 %}
            <span class="stat-up">
              (<i class="fas fa-caret-up"></i>
              {{stat['HT'].diff}})
            </span>
          {% elif stat['HT'].diff < 0 %}
            <span class="stat-down">
              (<i class="fas fa-caret-down"></i>
              {{stat['HT'].diff}})
            </span>
          {% else %}
            <span class="stat-none"> (-) </span>
          {% endif %}
        {% endif %}
      </td>
      <td class="rank-{{stat['MT'].rank}}">
        {{stat['MT'].dmg}}
        {%if stat['MT'].diff is defined %}
          {% if stat['MT'].diff > 0 %}
            <span class="stat-up">
              (<i class="fas fa-caret-up"></i>
              {{stat['MT'].diff}})
            </span>
          {% elif stat['MT'].diff < 0 %}
            <span class="stat-down">
              (<i class="fas fa-caret-down"></i>
              {{stat['MT'].diff}})
            </span>
          {% else %}
            <span class="stat-none"> (-) </span>
          {% endif %}
        {% endif %}
      </td>
      <td class="rank-{{stat['LT'].rank}}">
        {{stat['LT'].spots}}
        {%if stat['LT'].diff is defined %}
          {% if stat['LT'].diff > 0 %}
            <span class="stat-up">
              (<i class="fas fa-caret-up"></i>
              {{stat['LT'].diff}})
            </span>
          {% elif stat['LT'].diff < 0 %}
            <span class="stat-down">
              (<i class="fas fa-caret-down"></i>
              {{stat['LT'].diff}})
            </span>
          {% else %}
            <span class="stat-none"> (-) </span>
          {% endif %}
        {% endif %}
      </td>
      <td class="rank-{{stat['SPG'].rank}}">
        {{stat['SPG'].dmg}}
        {%if stat['SPG'].diff is defined %}
          {% if stat['SPG'].diff > 0 %}
            <span class="stat-up">
              (<i class="fas fa-caret-up"></i>
              {{stat['SPG'].diff}})
            </span>
          {% elif stat['SPG'].diff < 0 %}
            <span class="stat-down">
              (<i class="fas fa-caret-down"></i>
              {{stat['SPG'].diff}})
            </span>
          {% else %}
            <span class="stat-none"> (-) </span>
          {% endif %}
        {% endif %}
      </td>
      <td class="rank-{{stat['TD'].rank}}">
        {{stat['TD'].dmg}}
        {%if stat['TD'].diff is defined %}
          {% if stat['TD'].diff > 0 %}
            <span class="stat-up">
              (<i class="fas fa-caret-up"></i>
              {{stat['TD'].diff}})
            </span>
          {% elif stat['TD'].diff < 0 %}
            <span class="stat-down">
              (<i class="fas fa-caret-down"></i>
              {{stat['TD'].diff}})
            </span>
          {% else %}
            <span class="stat-none"> (-) </span>
          {% endif %}
        {% endif %}
      </td>
      <td class="rank-{{stat['wn8'].rank}}">{{stat['wn8'].value}}</td>
      <td>{{stat['updated']}}</td>
    </tr>
    {% endfor %}
  <table>
  {% for type, stats in tank_stats.items() %}
    <div class="table-title">
      <h1>
        {% if type == "heavyTank" %}
          Heavy Tanks
        {% elif type == "mediumTank" %}
          Medium Tanks
        {% elif type == "lightTank" %}
          Light Tanks
        {% elif type == "SPG" %}
          Self Propelled Guns
        {% elif type == "TD" %}
          Tank Destroyers
        {% else %}
          UNKNOWN TANK TYPE: {{type}}
        {% endif %}
      </h1>
    </div>

    {% if stats|length == 0 %}
    <div class="info-text">
      <p>No CW battles fought in this tank class...</p>
    </div>
    {% else %}
      <table class="ratings-table">
        <th>Tank</th>
        <th>Pub Battles</th>
        <th>WN8</th>
        <th>CW Battles</th>
        {% if type == "lightTank" %}
          <th>Light Tank Rating </th>
        {% else %}
          <th>Average Damage</th>
          {% if type != "SPG" %}
            <th>Pen Percentage</th>
          {% endif %}
        {% endif %}
        {% for stat in stats %}
        <tr>
          <td>
            {{stat['name']}}
            {% if stat['battles'] < 5 %}
            *
            {% endif %}
          </td>
          <td class="rank-{{stat['pub_battles'].rank}}">{{stat['pub_battles'].value}}</td>
          <td class="rank-{{stat['wn8'].rank}}">{{stat['wn8'].value}}</td>
          <td>{{stat['battles']}}</td>
          {% if type == "lightTank" %}
            <td class="rank-{{stat['spotting'].rank}}">{{stat['spotting'].value}}</td>
          {% else %}
            <td class="rank-{{stat['dmgRank']}}">{{stat['avgDmg']}}</td>
            {% if type != "SPG" %}
              <td class="rank-{{stat['hitPercent'].rank}}">{{stat['hitPercent'].value}}</td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
    </table>
  {% endif %}
  {% endfor %}
  <div class="info-text">
    <p>(* Tanks with < 5 battles are not included in overall statistics)</p>
  </div>
</body>
<footer>
  <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</footer>
