<!DOCTYPE html>
<html lang="en">
<head>
  <title>Statistics For {{name}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1 class="title-text">Clan War Statistics for {{name}}</h1>
  <div class="table-title">
    <h1>Clan Wars Stats Over Time</h1>
  </div>
  <table class="ratings-table">
    <th>Overall</th>
    <th>Heavy Tanks</th>
    <th>Medium Tanks</th>
    <th>Light Tanks</th>
    <th>Self Propelled Guns</th>
    <th>Tank Destroyers</th>
    <th>Date</th>
    {% for stat in stat_hist %}
    <tr>
      <td class="rank-{{stat['overall'].rank}} same-first-col">{{stat['overall'].dmg}}</td>
      <td class="rank-{{stat['HT'].rank}}">{{stat['HT'].dmg}}</td>
      <td class="rank-{{stat['MT'].rank}}">{{stat['MT'].dmg}}</td>
      <td class="rank-{{stat['LT'].rank}}">{{stat['LT'].spots}}</td>
      <td class="rank-{{stat['SPG'].rank}}">{{stat['SPG'].dmg}}</td>
      <td class="rank-{{stat['TD'].rank}}">{{stat['TD'].dmg}}</td>
      <td>{{stat['updated']}}</td>
    </tr>
    {% endfor %}
  <table>
  {% for type, stats in tank_stats.items() %}
    <div class="table-title">
      <h1>
        {% if type == "heavyTank" %}
          Heavy Tanks
        {% elif type == "mediumTank" %}
          Medium Tanks
        {% elif type == "lightTank" %}
          Light Tanks
        {% elif type == "SPG" %}
          Self Propelled Guns
        {% elif type == "TD" %}
          Tank Destroyers
        {% else %}
          UNKNOWN TANK TYPE: {{type}}
        {% endif %}
      </h1>
    </div>

    {% if stats|length == 0 %}
    <div class="info-text">
      <p>No CW battles fought in this tank class...</p>
    </div>
    {% else %}
      <table class="ratings-table">
        <th>Tank</th>
        <th>CW Battles</th>
        {% if type == "lightTank" %}
          <th>Average Spotting</th>
        {% else %}
          <th>Average Damage</th>
        {% endif %}
        {% for stat in stats %}
        <tr>
          <td>{{stat['name']}}</td>
          <td>{{stat['battles']}}</td>
          {% if type == "lightTank" %}
            <td class="rank-{{stat['spotRank']}}">{{stat['avgSpot']}}</td>
          {% else %}
            <td class="rank-{{stat['dmgRank']}}">{{stat['avgDmg']}}</td>
          {% endif %}
        </tr>
        {% endfor %}
    </table>
  {% endif %}
  {% endfor %}
</body>
<footer>
  <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</footer>
