
// Greyscale
$black: #000;
$dark-grey: #ccc;
$light-grey: #eee;
$very-light-grey: #f6f6f6;
$white: #fff;

// Misc colors
$light-blue: #aef;

// Flash Messages (lifted straight from bootstrap)
$success-text: #155724;
$success-bkg: #d4edda;
$success-border: #c3e6cb;
$error-text: #721c24;
$error-bkg: #f8d7da;
$error-border: #f5c6cb;

// Alternative scale
// $color-scale-1: #ffef9c;
// $color-scale-2: #d8e394;
// $color-scale-3: #b1d78c;
// $color-scale-4: #8acb84;
// $color-scale-5: #63be7b;

// Rank
$color-scale-1: #f00;
$color-scale-2: #c6c600;
$color-scale-3: #2b5c17;
$color-scale-4: #2f679a;
$color-scale-5: #503d82;
