
$light-grey: #eee;
$black: #000;

// Alternative scale
// $color-scale-1: #ffef9c;
// $color-scale-2: #d8e394;
// $color-scale-3: #b1d78c;
// $color-scale-4: #8acb84;
// $color-scale-5: #63be7b;

$color-scale-1: #f00;
$color-scale-2: #c6c600;
$color-scale-3: #2b5c17;
$color-scale-4: #2f679a;
$color-scale-5: #503d82;
